footer{
  background-color: $color-orange;
  color: white;
  padding: 50px 0;
  margin-top: 100px;
  @include responsive($large){
    padding: 130px 0 144px 0;
    margin-top: 200px;
  }

  ul{
    padding: 0;
    li{
      list-style: none;
      width: 300px;
      @include responsive($large){
        width: 204px;
      }
    }
  }

  h2{
    font-size: 24px;
    line-height: 30px;
    margin: 25px 0 10px 0;
    @include responsive($medium){
      margin-bottom: 40px;
    }
  }

  .description{
    width: 300px;
    @include responsive($large){
      width: 290px;
      margin-right: 100px;
    }
    &__home-icon{
      width: 84px;
      height: 86px;
    }
    p{
      line-height: 30px;
      margin: 20px 0 30px 0;
      @include responsive($large){
        margin-bottom: 50px;
      }
    }
    ul{
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        margin-right: 16px;
      }
    }
  }

  .about, .navigate, .contact{
    li{
      font-size: 15px;
      line-height: 45px;
    }
    @include responsive($large){
      width: 180px;
    }
    
  }

  .about, .navigate{
    // font-family: $font-roboto;
    
  }

  .contact{
    img{
      @include responsive($large){
        width: 210px;
      }
    }
  }
}