@import './variables';

@import './components/navbar';
@import './components/storageCalculator';
@import './components/cardItem';
@import './components/footer';

*{
  margin: 0;
  border: 0;
}

body{
  font-family: $font-poppins;
  // background-color: $color-bg-white;
}